* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    display: flex;
    background: url("image/istockphoto-1776689269-612x612.jpg");
    background-position: center;
    background-size: 100%;
    height: 100vh;
    font-family: sans-serif;
    align-items: center;
    justify-content: space-around;
}

.navbar {
    height: 5rem;
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: space-around;

}

ul {
    display: flex;
    gap: 1rem;

}

.navbar img {
    mix-blend-mode: color-burn;
    height: 80%;
}


ul li {
    list-style: none;
    display: inline-block;
}

ul li a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-top: 1rem;
    transition: .2s ease;
}

ul li a:hover {
    color: chocolate;
}

.info {
    margin-left: 1rem;
    margin-top: 2rem;
}

.info h1 {
    font-size: 3rem;
    color: rgb(0, 0, 0);
}

.info h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgb(24, 21, 21);
}

.info h1 span {
    color: crimson;
}

.info a {
    text-decoration: none;
    color: cornsilk;
    background-color: black;
    margin: 1.5rem 0;
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    display: inline-block;
    transition: .4s ease;

}

.info a:hover {
    background-color: blue;

}

.bg {
    height: 500px;
    transform: translate(-2%);
    bottom: 0;
    transition: transform 2s ease;
    border-radius: 7rem;
}

.bg:hover {
    transform: translateX(50px);
    transition: transform 2s ease;

}

.about {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.about img {
    width: 400px;
    height: 400px;

}

.about-text {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-main {
    max-width: 95%;
    display: flex;

}

.about-text h1 {
    font-size: 3rem;

}

.about-text h3 {
    font-size: 2rem;
}

.about-text p {
    font-size: 1rem;
}

.skills {
    display: flex;
    justify-content: center;

}

.skills h2 {
    font-size: 2rem;
    margin-top: 2rem;
}

.skills span {
    color: firebrick;

}

.container {
    margin: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex: 1;
    flex-wrap: wrap;
    
}

.container div {
    background-color: rgb(255, 255, 255);
    flex: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;

}

.container div img {
    height:5rem;
}

.container-contact h1 {
    font-size: 2rem;
    text-align: center;
    color: rgb(55, 121, 179);
}
.container-contact{
    width: 30rem;
    background-color: rgb(12, 13, 15);
    border-radius: 2rem;
    
}
.btn{
    width: 50%;
    background-color: rgb(116, 162, 202);
    border-radius: 2rem;
   font-weight: 600;
    border: none;
    outline: none;
   padding: 1rem;
   margin: 2rem 0;
}
.btn:hover{
    background-color: rgb(48, 65, 82);
    cursor: pointer;
}
.container-contact input,textarea{
    padding: 0.5rem 1rem;

}


